#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ul>li{
    padding-left:20px;
}

#map {
    height: 100%;
}
.content {
    background-image: url("../images/football.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
}

.badge {
    cursor: pointer !important;
}

.nav {
    box-shadow: 0px 1px 5px 1px #fdf8f8;
}

.row-main {
    height: 600px;
    box-shadow: 0px 0px 10px #f0f0f0;
}

#map {
    left:-15px !important;
    width: 45vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.details {
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.fa-custom {
    color: teal;
    font-size: 20px;
}

.desc {
    color: #33acff;
}

.navbar-brand {
    font-family: comic sans ms;
}